.burgerwrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 100px;
}
.burger {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: auto;
  margin-bottom: 30px;
  margin-top: 70px;
}

.list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.force-overflow {
  width: 2px;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 10s;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.4s;
}

.list {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 500px) and (min-height: 401px) {
  .burger {
    width: 450px;
    height: 400px;
  }
}
@media (min-width: 500px) and (min-height: 350px) {
  .burger {
    width: 350px;
    height: 300px;
  }
}
@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 385px;
    height: 266px;
  }
}
@media (min-width: 2560px) {
  .burger {
    width: 385px;
    height: 100vh;
    flex-grow: 1;
  }
  .burgerwrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-grow: 1;
  }
}
