.fade-enter {
  opacity: 0;
  /* list-style: none;
  margin: 0 auto;
  padding: 0; */
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
  /* list-style: none;
  margin: 0 auto;
  padding: 0; */
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.4s;
}

.rlist {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

/* .fade-enter-done {
  list-style: none;
  margin: 0 auto;
  padding: 0;
} */
