.NavigationItem {
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
  height: 100%;
}
.NavigationItem a {
  color: #8ffc2c;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  display: block;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}
@media (min-width: 500px) {
  .NavigationItem {
    margin: 0px;
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
  }
  .NavigationItem a {
    color: white;
    display: flex;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 2.5px solid transparent;
  }
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 2.5px solid #40a4cb;
    color: white;
  }
}
@media (min-width: 2560px) {
  .NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 2.5px solid #40a4cb;
    color: white;
  }
  .NavigationItem a {
    font-size: 2rem;
    padding: 48px;
  }
}
