.contactdata {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}
.input {
  display: block;
  margin: 10px;
}
.form {
  text-align: center;
  margin: 20px auto;
  box-sizing: border-box;
  width: 60%;
}
@media (min-width: 600px) {
  .contactdata {
    width: 500px;
  }
}
