.input {
  width: 92%;
  padding: 10px;
  box-sizing: border-box;
}
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
.inputelement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 100%;
  display: block;
}
.inputelement:focus {
  outline: none;
  background-color: #ccc;
}
.select {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 108%;
  display: block;
}
.error {
  text-align: left;
  color: red;
  font-size: 0.7rem;
  margin: 0.5rem 0 0 0;
}
